<div class='grid-bottom-nav footer-buttons'>
    <p><span id="footer-text">Copyright 2021 Mick Daigle</span> <a href="https://github.com/daiglewilliam13/blogApp"> <i class="fab fa-github"></i> </a><a href="https://www.instagram.com/djkefka/"> <i class="fab fa-instagram-square"></i> </a><a href="https://discord.gg/UeDkA7GN"> <i class="fab fa-discord"></i> </a></a></p>
</div>
</div>
</div>
</div>

<script type="text/javascript" src="/js/main.js" async defer></script>
</body>

</html>