<div class='grid-bottom-nav footer-buttons'>
    <p>Copyright 2021 Mick Daigle <a href="#"> <i class="fab fa-github"></i> </a><a href="#"> <i class="fab fa-instagram-square"></i> </a><a href="#"> <i class="fab fa-youtube"></i> </a><a href="#"> <i class="fab fa-twitch"></i> </a></a></p>
</div>
</div>
</div>
</div>

<script type="text/javascript" src="/js/main.js" async defer></script>
</body>

</html>